:root {
    --primary-color: #3a3a3b;
    --secondary-color:#add2e9;
    --tertiary-color: #1e2230;
    --fourth-color: #cfcfcf;
}

/** {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
*/

body {
    color: var(--tertiary-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--fourth-color);
    padding: 20px;
    margin:0;
}

/*header styles*/
header {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 38px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: auto 0;
    display: inline-block;
    vertical-align: middle;
    height: 50px;
  line-height: 50px;
  text-align: right;
  width: 400px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


header nav ul li a {
    padding: 10px 15px;
    color:var(--secondary-color);
    font-weight: lighter;
    font-size: 30px;
}

/*hero section*/
.hero {
    height: 200px;
    background-image: url("../pills.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-position: 80%;
    text-align: right;
    margin-bottom: 20px;  
}

.hero span {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 28px;
    margin: auto 0;
    line-height: 200px;
}


/*About me, work, contact sections*/
.section-title {
    font-weight: bold;
    font-size: 30px;
    color: var(--tertiary-color);
    margin: 15px;
    text-align: right;
    flex: 1 20%;
    padding-right: 20px;
    border-right: var(--tertiary-color);
    border-right: solid;
}

.side-section {
    font-weight: lighter;
    font-size: 18px;
    color: var(--tertiary-color);
    margin: 0;
    text-align: left;
    flex: 2 80%;
    padding-left: 20px;
}
/*About me section*/
#about-me {
    display: flex;
    height: 100px;
}

#about-me .side-section {
    display: flex;
}

#about-me .side-section img {
    margin-right: 10px;
}

#about-me h2 {
    line-height: 100px;

}
/*Work section*/
#work {
    margin-top: 10px;
    display: flex;
}

#work .side-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}


.big-box {
    height: 300px;
    width: 100%;
    flex: 2 100%;
    background-image: url(../Hero.jpeg);
    border-style: solid;
    border-width: thick;
    border-color: var(--secondary-color);
    margin-bottom: 10px;
    opacity: 80%;
}

#project-1 {
    background-image: url(../bar-background.jpg)
}

.big-box:hover {
    cursor:pointer;
    opacity: 100%;
}

.box {
    height: 100px;
    flex: 1 40%;
    background-image: url(../keyboard.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: 80%;
    text-align: left;
    margin-bottom: 10px;  
    border-style: solid;
    border-width: thick;
    border-color: var(--secondary-color);
    opacity:80%;
}

.box:hover {
    cursor:pointer;
    opacity: 100%;
}

.box-left {
    margin-right: 10px;
}

.box-text {
    font-weight: bold;
    font-size: 18px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: auto 0;
    display: inline-block;
    vertical-align: middle;
    height: 50px;
  text-align: center;
  width: 150px;
}

#long-box {
    width: 300px;
}

.box-text span {
    font-size: 14px;
}


/*Contact section*/
#contact-me{
    margin-top: 10px;
    display: flex;
}

#contact-me .side-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: bold;
    color:var(--tertiary-color);
    font-size: 24px;
}

.contact-info ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 24px;
    color:var(--tertiary-color);
    font-weight: bold;
}
